
.sectionContainer {
    padding-top: 35px;
    padding-bottom: 40px;
    box-shadow: 0 6px 40px 5px rgba(0, 0, 0, 0.2);

}
.slideshowContainer {
    width: 70%;
    margin: auto;

    .each-slide {
        width: 100%;
    }
    
    .each-slide > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 375px;
    }
}


@media only screen and (max-width: 780px) {
    .slideshowContainer {
        width: 90%;
    }
}